@import 'vars';

@media screen and (max-width: 1160px) {
  .header .right-col .counter {
    margin-right: 20px;
  }
  .header .left-col {
    margin: 27px 30px 0 0;
  }
  .header .main-nav .right-col {
    margin-left: 10px;
  }
  .basket-list .basket-row .error-text {
    white-space: normal;
  }
}

@media screen and (max-width: 939px) {

  .nav-tabs li a {
    font: 12px/14px "CirceBold",sans-serif;
    padding: 10px 5px 9px;
  }

  .header .main-nav ul {
    clear: both;
    padding-top: 10px;
  }
  .header .right-col .btn-group {
    float: left;
  }
  .header .right-col .social {
    float: right;
  }
  .header .basket-box {
    display: block;
    clear: both;
    text-align: left;
    padding-top: 4px;
  }
  .header ul.nav.menu li a,
  .footer ul.nav.menu li a {
    font: 17px/26px "Cervo-Medium",sans-serif;
  }
  .footer {
    .money {
      float: none;
      margin-top: 0;
    }
    .social {
      margin-top: 6px;
      height: 28px;
      a {
        font-size: 28px;
      }
    }
    .row .col:last-child {
      margin-left: 0;
      width: 26.5%;
      .black {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 890px) {
  .form-grid.two .form-row .form-cell input {
    padding-left: 0;
    padding-right: 0;
  }
  .constructor-list .section .rub {
    min-width: 100px;
  }
  .product {
    .row-col {
      margin-bottom: 0;
      padding: 0 20%;
      .col {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 44px;
        .text-intro,.title {
          min-height: inherit !important;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .delivery {
    .row {
      .col {
        width: 46%;
        margin-bottom: 40px;
        float: none;
        display: inline-block;
        vertical-align: top;
        &:nth-child(3) {
          margin-left: 0;
        }
      }
    }
  }
  .content.last .contest {
    background-color: #cc862a;
    margin-left: -30px;
    margin-right: -30px;
    max-width: inherit;
    background-image: none;
    height: auto;
    &:hover {
      background-color: #e19738;
    }
  }
  .content.last .about {
    .col-about {
      width: 48%;
      display: block;
      margin-left: 0;
      margin-right: 0;
      float: left;
      min-height: 200px;
      &:last-child {
        margin-left: 4%;
      }
    }
  }
  .checkbox-right .right-input {
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 660px) {
  body {
    background: #ffffff;
    position: relative;
  }
/*
  .content-form input,.content-form textarea {
    background: #fffcf3;
    color: $tc;
  }
*/
  ul.nav {
    display: block;
  }

  .header .right-col .counter,
  .header .left-col .btn,
  .main-style .intro,
  .parallax,
  .content:before,
  .content:after,
  .header .right-col .btn-group,
  .header .right-col .social,.intro,.breadcrumb {
    display: none;
  }

  .back {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.5);
    z-index: 90;
    &.anim {
      @include transition(all 0.3s);
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .btn {
    &.border {
      padding: 14px 14px 12px;
      font-size: 28px;
      line-height: 28px;
    }
  }

  .header .right-col .phone,.header .right-col .phone span {
    font-size: 32px;
  }

  .product.pizza .title.icon-the {
    padding-left: 0;
  }
  .product.pizza .title.icon-line {
    color: #ffffff !important;
    background: none !important;
    width: auto;
  }
  .number-group .btn-number:after {
    width: 18px;
    height: 4px;
  }
  .number-group .btn-number:last-child:before {
    width: 4px;
    height: 18px;
  }
  .bootstrap-select .dropdown-toggle .bs-caret:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #a2a2a2;
  }
  .btn.more {
    font-size: 28px;
    line-height: 28px;
    padding: 22px 23px 18px;
  }
  .stock {
    a {
      margin: 0 0 30px 0;
      img {
        width: 400px;
        height: auto;
      }
    }
    img {
      width: 400px;
      height: auto;
    }
    p {
      font-size: 26px;
      line-height: 32px;
    }
  }


  .product .controls .bootstrap-select {
    width: 33%;
  }

  .bootstrap-select {
    .dropdown-toggle {
      padding: 0 56px 0 0;
      .filter-option {
        height: 56px;
        max-height: 56px;
        font-size: 32px;
        line-height: 56px;
      }
      .bs-caret {
        width: 56px;
        height: 56px;
      }
    }
    .dropdown-menu {
      right: 55px;
      &.inner {
        li a {
          line-height: 44px;
          font-size: 32px;
        }
      }
    }
  }

  .header.row {
    position: relative;
    margin: 0 -30px 0 -30px;
    background: #fffcf3;
    .basket-box {
      position: absolute;
      left: 24px;
      top: 94px;
      .data {
        margin-left: 30px;
        font-size: 33px;
        line-height: 40px;
        padding-left: 50px;
        background-position: left 8px;
        background-size: 32px;
      }
      .btn {
        width: 144px;
        padding: 11px 14px 8px;
        font-size: 24px;
        line-height: 20px;
      }
    }
    ul.nav.menu, .main-nav ul {
      position: fixed;
      z-index: 100;
      right: 20px;
      left: 20px;
      background: #fffcf3;
      padding: 0;
      text-align: left;
      text-align-last: left;
      max-height: 100%;
      overflow-y: auto;
      top: 50%;
      opacity: 0;
      visibility: hidden;
      @include transform(translate(0,-100%));
      &.anim {
        @include transition(all 0.3s);
      }
      li:not(._s) {
        display: block;
        a {
          font: 44px/44px "Cervo-Medium",sans-serif;
          padding: 30px 40px 26px 40px;
          display: block;
          &:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: #000;
            @include border-radius(100%);
            right: 47px;
            top: 0;
            left: auto;
            bottom: 0;
            margin: auto;
            opacity: 0;
          }
          &:before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            border: 1px solid #000000;
            @include border-radius(100%);
            right: 40px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          &:hover {
            color: #e4b100;
          }
          &.active {
            color: #252525;
            pointer-events: auto;
            &:after {
              opacity: 1;
            }
          }
        }
        &.sep {
          display: none;
        }
        /*
        &:last-child {
          a:after {
            display: none;
          }
        }
        */
      }
      li {
        border-bottom: 1px solid #252525;
        &.for-mobile {
          display: block !important;
          a {
            background: #f9ecc5;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &:after {
        display: none;
      }
      &.show {
        @include transform(translate(0,-50%));
        opacity: 1;
        visibility: visible;
      }
    }
    .main-nav ul {
      @include transform(translate(100%, 0));
      right: 0;
      top: 0;
      bottom: 0;
      left: auto;
      width: 90%;
      li:not(._s) {
        a {
          &:before,&:after {
            display: none !important;
          }
        }
      }
      li {
        .social {
          display: table !important;
          table-layout: fixed;
          width: 100%;
          float: none;
          overflow: hidden;
          div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 38px 0;
            a {
              font-size: 64px;
              background: none;
              line-height: 64px;
              display: block;
              margin: 0 auto;
              width: 64px;
            }
          }
        }
      }
      &.show {
        @include transform(translate(0,0));
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .header {
    .main-nav {
      padding: 28px 126px 76px 0;
      border-bottom: 0;
      margin-bottom: 0;
      .right-col {
        float: none;
        margin: 0;
        .phone {
          float: none;
          border-bottom: 1px dotted #696969;
          padding-bottom: 20px;
        }
      }
    }
    .btn.border.cat-menu,.btn.border.main-menu {
      display: block;
    }
    .btn.border.main-menu {
      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 30px;
        height: 4px;
        margin: auto;
        background-color: #696969;
        @include border-radius(2px);
        @include transition(background-color 0.3s);
        &:before,&:after {
          width: 30px;
          height: 4px;
          position: absolute;
          left: 0;
          background-color: #696969;
          content: '';
          @include border-radius(2px);
          @include transition(background-color 0.3s);
        }
        &:before {
          @include transform(translateY(-200%));
        }
        &:after {
          @include transform(translateY(200%));
        }
      }
      &:hover {
        span {
          background-color: #e4b100;
          &:before,&:after {
            background-color: #e4b100;
          }
        }

      }
    }
    .left-col {
      margin: 27px 30px 0 24px;
    }

  }
  .wrapper.index {
    z-index: inherit;
  }
  .content {
    margin-top: 0;
    padding-top: 0;
    h2.big {
      padding-top: 50px;
      font-size: 55px;
      line-height: 42px;
      margin-bottom: 46px;
    }
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  input, textarea {
    font: 26px/30px "Circe", "Helvetica", Arial, sans-serif;
    line-height: 66px;
    height: 66px;
    padding: 13px 16px 11px;
  }
  textarea {
    height: 150px;
    line-height: 32px;
  }

  .input-data.phone span {
    font-size: 26px;
    line-height: 66px;
  }

  .form-grid .form-row .form-cell:first-child, .form-grid .form-row .form-cell:nth-child(3) {
    font-size: 20px !important;
    line-height: 24px !important;
    width: 150px;
  }

  .form-grid.two .form-row .form-cell input {
    width: 90px;
  }
  .form-grid .form-row .form-cell {
    padding-bottom: 30px;
  }

  .content-form {
    .row {
      .col_2 {
        width: 100%;
        margin-left: 0;
        float: none;
      }
    }
    .checkbox-label.radio  {
      margin-bottom: 30px;
      .checkbox-label-text {
        font-size: 26px;
      }
    }
  }

  .checkbox-label .checkbox + .checkbox-label-text:before {
    width: 24px;
    height: 24px;
  }
  .checkbox-label .checkbox + .checkbox-label-text:after {
    width: 12px;
    height: 4px;
    top: 8px;
    left: 6px;
    border: 3px solid #000000;
  }

  .checkbox-label {
    .checkbox-label-text {
      font-size: 26px;
      line-height: 27px;
      padding-left: 40px;
    }
    &.radio {
      .checkbox + .checkbox-label-text:before {
        width: 18px;
        height: 18px;
      }
      .checkbox + .checkbox-label-text:after {
        width: 8px;
        height: 8px;
        left: 6px;
        top: 7px;
      }
    }
  }

  .sum {
    font-size: 26px;
  }

  .main-slider-wr {
    margin: 0 -30px 0 -30px;
    .main-slider {
      margin: 0;
      .owl-controls {
        .owl-nav {
          display: none;
        }
      }
    }
  }

  .delivery {
    .title {
      margin-bottom: 40px;
      margin-top: 40px;
      span {
        font-size: 70px;
        line-height: 70px;
        i {
          font-size: 60px;
        }
        &:before,&:after {
          background-size: 34px;
          width: 35px;
          height: 94px;
          background-repeat: no-repeat;
        }
        &:before {
          left: -60px;
        }
        &:after {
          right: -60px;
        }
      }
    }
    .row {
      .col {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        width: 50%;
        margin-left: 0;
        display: block;
        float: left;
      }
    }

  }

  .content.last {
    padding: 40px 0 0;
    .text {
      font-size: 26px;
      line-height: 30px;
      padding: 0;
    }
    .about {
      .col-about {

      }
    }
  }

  .footer {
    padding: 36px 0 20px;
    .logo,.money,.btn.black {
      display: none;
    }
    .row .col {
      &:nth-child(2) {
        margin-left: 0;
      }
      &:last-child {
        width: 47%;
        margin-left: 6%;
      }

    }
    .social {
      height: 50px;
      margin-top: 0;
      a {
        font-size: 48px;
        line-height: 48px;
        margin-right: 10px;
      }
    }
    .phone {
      font: 28px/28px "Circe",sans-serif;
      padding-top: 14px;
      margin-bottom: 0;
      span {
        font: 28px/28px "CirceExtraBold",sans-serif;
      }
    }
    ul.nav.menu {
      text-align: center;
      text-align-last: center;
      padding-bottom: 20px;
      li {
        display: inline-block;
        margin: 0 10px 16px;
        a {
          font-size: 22px;
          line-height: 22px;
        }
        &.sep {
          display: none;
        }
      }
    }
    .copy {
      span,a {
        font-size: 12px;
      }
    }
  }

  .fixed {
    padding: 20px 30px;
    .btn-group {
      display: none;
    }
    .basket-box {
      float: none;
      .btn.border {
        display: none;
      }
      .data {
        position: relative;
        margin-left: 0;
        font-size: 33px;
        line-height: 40px;
        padding-left: 50px;
        background-position: left 8px;
        background-size: 32px;
        .for-mobile {
          display: inherit;
        }
      }
    }
  }

  .modal:not(#basket) {
    .close-icon {
      width: 40px;
      height: 40px;
      &:before,&:after {
        height: 2px;
        background: #ffffff;

      }
    }
    .form-label {
      font-size: 20px !important;
      line-height: 24px !important;
    }
    .modal-dialog {
      margin: 0;
      display: table;
      width: 100%;
      height: 100%;
      .modal-content {
        background: transparent;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: #ffffff;
        padding: 30px 20px 40px;
        input, textarea {
          background: #ffffff;
        }
        .textarea-box + .m-b25 {
          display: none;
        }
        .textarea-box {
          margin-bottom: 30px;
        }
        h2 {
          font-size: 55px;
          line-height: 55px;
          margin-bottom: 40px;
          &.small-text {
            font-size: 30px;
            line-height: 30px;
          }
        }
        a {
          color: #ffffff;
          &:hover {
            color: #e4b100;
          }
        }
        .btn {
          margin-top: 34px;
        }
        .form-bottom {
          padding-top: 34px;
          margin-top: 40px;
          p {
            font-size: 20px;
            line-height: 20px;
          }
          [class^="soc-icon-"] {
            font-size: 70px;
            line-height: 70px;
            color: #ffffff;
            margin: 0 10px;
          }
        }
      }
    }
    .modal-backdrop.in {
      background-image: url("../img/back.png");
      opacity: 1;

    }
  }

  .sort {
    font: 15px/34px "CirceBold",sans-serif;
    padding-top: 20px;
  }

  .btn.pink.small {
    padding: 17px 10px 13px;
    font: 26px/26px "CirceBold",sans-serif;
  }

  .btn.pink.big {
    padding: 20px 30px 16px;
    font: 34px/34px "Cervo-Medium",sans-serif;
  }


  .product {
    .number-group {
      .input-number {
        font-size: 32px;
        line-height: 56px;
        height: 56px;
      }
      .btn-number {
        height: 56px;
        width: 56px;
      }
    }
    .controls {
      margin-bottom: 36px;
      .number-group {
        width: 33%;
        .input-number {
          width: -webkit-calc(100% - 112px);
          width: -moz-calc(100% - 112px);
          width: calc(100% - 112px);
        }
      }

    }
    .row-col {
      margin-bottom: 0;
      padding: 0;
      margin: 0 -30px;
      .col {
        margin-bottom: 74px;
        &:last-child {
          margin-bottom: 60px;
        }
      }
    }
    .text-intro {
      font-size: 28px !important;
      line-height: 28px !important;
      margin-bottom: 30px;
      margin-left: 30px;
      margin-right: 30px;
    }
    .rub {
      font-size: 32px;
      line-height: 56px;
    }
    .title {
      color: #ffffff;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 60px !important;
      line-height: 60px !important;
      &:before,&:after {
        display: none !important;
      }
      span {
        color: #ffffff !important;
      }
    }
    .product-link {
      display: block;
      margin-left: 0;
      margin-right: 0;
      img {
        width: 100%;
        height: auto;
        margin-bottom: 46px;
      }
      &:hover {
        .title {
          color: #e4b100 !important;
          span {
            color: #e4b100 !important;
          }
        }
      }
    }
    .set {
      margin-left: 30px;
      margin-right: 30px;
      .set-list {
        .set-title,.number-group .input-number {
          font-size: 22px;
          line-height: 34px;
        }
        .number-group {
          .btn-number {
            width: 34px;
          }
          .btn {
            height: 34px;
          }
          .input-number {
            width: 60px;
          }
        }
      }
      .set-col {
        width: 220px;
        .gr {
          font-size: 37px;
          line-height: 56px;
        }
      }
      .number-group {
        .input-number {
          width: -webkit-calc(100% - 112px);
          width: -moz-calc(100% - 112px);
          width: calc(100% - 112px);
        }
      }
      .set-btn.border {
        height: 70px;
        font-size: 20px;
        line-height: 26px;
      }
      .set-btn.pink {
        height: 70px;
        font-size: 24px;
        line-height: 52px;
        background-size: 120%;
      }
      .title-set {
        font: 24px/24px "CirceBold",sans-serif;
        margin-bottom: 36px;
        margin-top: 42px;
      }
      &.pizza {
        .check-size {
          .checkbox-label {
            margin: 18px 15px;
            .checkbox-label-text {
              line-height: 100px;
              padding-right: 118px;
              font-size: 32px;
              padding-left: 40px;
              &:before {
                width: 22px;
                height: 22px;
                top: 36px;
              }
              &:after {
                top: 43px;
                left: 7px;
                width: 10px;
                height: 10px;
              }
              .ic {
                line-height: 100px;
                &.icon-svg-2s {
                  font-size: 80px;
                }
                &.icon-svg-2s2 {
                  font-size: 100px;
                }
              }
            }
          }
        }
        .rub {
          font-size: 32px;
          margin: 26px 0 16px;
        }
      }
    }
    &.main-style {
      padding-top: 50px;
      .row-col {
        padding: 0 20px;
        margin: 0;
      }
      .product-link {
        margin-left: 60px;
        margin-right: 60px;
        .title {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .text-intro {
        margin-left: 0;
        margin-right: 0;
      }
      .set {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &.card {
     .row:not(.set) {
       margin: 0 -30px;
       .col {
         width: 100%;
         float: none;
         margin-left: 0;
         &._p5 {
           padding-left: 0;
           padding-right: 0;
         }
       }
       .product-img {
         margin-bottom: 50px;
       }
     }
    }
  }


  .title-slide {
    margin-top: 0;
    border-top: 0;
    font: 35px/40px "Dirty Headline Cyrillic",sans-serif;
    padding: 80px 0 40px;
  }
  .product-slider {
    .item {
      .rub {
        margin: 20px 0;
      }
      .item-link {
        img {
          margin-bottom: 20px;
        }
        .name {
          font-size: 38px;
          line-height: 32px;
          margin-bottom: 40px;
        }
      }
      .btn-group {
        .input-number {
          width: -webkit-calc(100% - 112px);
          width: -moz-calc(100% - 112px);
          width: calc(100% - 112px);
        }
      }
    }
  }

  .basket-list {
    .basket-row {
      .cell {
        padding-bottom: 48px;
        padding-top: 48px !important;
        .btn-group {
          margin-left: 10px;
        }
        .rub {
          display: none;
        }
        a {
          .wr-img {
            display: none;
          }
          .name {
            margin:0;
            font-size: 32px;
            line-height: 32px;
          }
          .param {
            margin: 10px 0 0 0;
            font-size: 24px;
            line-height: 24px;
          }
        }
        .number-group  {
          .input-number {
            width: 80px;
          }
        }
        .close-icon {
          width: 42px;
          height: 56px;
        }
      }
      .change-set-wr {
        margin-left: 0;
        width: auto;
        .set {
          margin: 10px 0 0 0 !important;
          .btn-group {
            margin-left: 0;
            .change-set {
              font-size: 32px;
              line-height: 32px;
            }
            .dropdown-menu {
              width: 570px;
            }
          }
        }
      }
      .error-text {
        font-size: 24px;
        line-height: 24px;
        width: 540px;
        margin-top: 62px;
      }
      .cell {
        vertical-align: top;
      }
    }
  }

  .promo {
    input {
      height: 40px;
      padding: 8px 10px 9px;
      font-size: 20px !important;
      width: 160px;
      text-align: center;
    }
    .btn.ok {
      width: 40px;
      height: 40px;
      &:after {
        top: 13px;
        left: 12px;
        width: 14px;
        height: 7px;
      }
    }
  }

  .basket-sum .total-info span {
    font-size: 24px;
  }

  .apply {
    .text {
      font-size: 24px;
      margin-bottom: 35px;
      b {
        font: 24px/24px "CirceBold",sans-serif;
      }
    }
  }

  .addr-list {
    margin-bottom: 20px;
    h2 {
      display: block;
      margin: 0 0 20px 0 !important;
    }
  }

  .content.basket-end {
    background-image: url("../img/back.png") ;
    background-repeat: repeat;
    padding-bottom: 70px;
    padding-top: 50px;
    p {
      font: 38px/45px "Cervo-Regular",sans-serif;
      margin: 0 0 40px;
    }
    h1 {
      margin: 40px 0 0;
    }
  }

  .btn.orange-bg, .btn.green, .btn.black {
    font-size: 24px;
    padding: 17px 20px 15px;
    line-height: 24px;
  }
  a.sl {
    font-size: 20px;
  }

  .set-pills {
    text-align: center !important;
    margin-bottom: 44px !important;
    .btn.border {
      padding: 11px 14px 10px;
      font-size: 17px;
      line-height: 17px;
    }
  }
  .content p {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 30px;
  }
  .restaurant {
    &.all {
      .row {
        .col {
          width: 100%;
          float: none;
          margin-left: 0;
        }
      }
      .map,.img-bg {
        display: none;
      }
      p {
        text-align: left !important;

      }
    }
    &.one {
      .row {
        .col {
          width: 100%;
          float: none;
          margin-left: 0;
        }
      }
      .res-sep {
        margin-left: 34px;
      }
      ._img {
        margin-left: -34px;
        overflow: hidden;
        p {
          float: left;
          width: 29.333333%;
          margin-left: 6%;
          margin-bottom: 0;
          &:first-child {
            margin-left: 0;
          }
          img {

          }
        }
      }
      .map {
        margin-bottom: 40px;
      }
    }
    .restaurant-list {
      margin-bottom: 20px;
      padding-bottom: 24px;
      a {
        font-size: 26px;
        line-height: 32px;
        margin-left: 34px;
      }
      .line {
        width: 16px;
        height: 16px;
      }
    }
  }

  .delivery-wr {
    .title {
      display: none;
    }
    .for-mobile {
      display: block;
    }
    .info {
      .fill {
        margin-bottom: 50px;
      }
    }
    .map {
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: 60px;
    }
    .row.zone  {
       .col {
         width: 100%;
         float: none;
         margin-left: 0;
         p {
           margin: 0 0 40px;
         }
      }
      h1 {
        font-size: 40px !important;
        line-height: 40px;
      }
    }
    .zone-alert {
      font-size: 26px;
      line-height: 32px;
      border: 0;
      text-align: left;
      margin: 0 0 40px;
      max-width: inherit;
      width: 100%;
      padding: 20px 0;
    }
    .fill-s {
      text-align: left !important;
      font: 26px/32px 'Circe','Helvetica',Arial,sans-serif;
    }
  }
  .about {
    text-align: left !important;
    p {
      text-align: left !important;
    }
    ._p8 {
      padding: 0;
    }
    .title {
      display: none;
    }
    .product .title {
      display: block;
    }
    .for-mobile {
      display: block;
    }
    h3 {
      color: #e4b100;
      margin: 0;
    }
    .group {
      .col {
        width: 100%;
        float: none;
        margin-left: 0;
        padding-top: 0 !important;
        background: none !important;
        font-size: 26px;
        line-height: 32px;
      }
    }
    .stat,.img-bg,.p-color:not(.big) {
      display: none;
    }
    .p-color.big {
      font: 25px/25px "CirceBold",sans-serif;
    }
    ul {
      margin: 0 0 40px 0;
      li {
        font-size: 26px;
        line-height: 32px;
        padding-left: 0;
        &:after {
          display: none;
        }
      }
    }
    .info-text {
      border: 0;
      font-size: 26px;
      line-height: 32px;
      padding: 0;
      text-align: left;
      margin: 40px 0 40px;
      &:before,&:after {
        display: none;
      }
    }
    h4 {
      font: 25px/25px "CirceBold",sans-serif;
      text-align: left;
    }
    .row.company {
      margin-bottom: 40px;
      .col {
        width: 100%;
        float: none;
        margin-left: 0;
        padding-top: 0 !important;
        background: none !important;
        font-size: 26px;
        line-height: 32px;
        text-align: left;
      }
    }
    .base:not(.small) {
      display: block;
      tr {
        display: block;
        td {
          display: block;
          border: 0;
          text-align: left;
          padding: 0 0 40px 0 !important;
          a {
            font-size: 26px;
            line-height: 32px;
          }
          p,.grid {
            margin: 0 !important;
          }
          .grid {
            display: block;
            p {
              display: inline-block;
            }
          }
        }
        &:last-child {
          td {
            &:last-child {
              padding: 0 !important;
            }
          }
        }
      }

    }
    .base.small {
      font-size: 26px;
      line-height: 32px;
      tr {
        td {
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
    ol {
      li {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 30px;
      }
    }
    .list-reviews {
      font-size: 26px;
      line-height: 32px;
    }
    .sub-h {
      margin-bottom: 0 !important;
    }
    .vacancies-form {
      display: none;
    }
    .main-data {
      .col {
        width: 100%;
        float: none;
        margin-left: 0;
      }
      div {
        font-size: 26px;
        line-height: 32px;
        div.p-color {
          display: block;
        }
      }
    }

    .main-phone {
      border: 0;
      padding: 0;
    }
  }
  .product.restaurant-menu {
    .product-link  {
      .img {
        width: 100%;
        height: auto;
        max-width: 380px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .text-intro {
      max-width: 380px;
    }
  }
  .content.about-wr {
    background-image: url("../img/back.png") ;
    background-repeat: repeat;
    padding-bottom: 70px;
  }
  .paginate:not(.small) {
    a {
      font: 50px/50px "Cervo-Regular",sans-serif;
      padding: 0 16px;
    }
  }

  [data-height] {
    min-height: inherit !important;
  }

  .product .children-slider {
    .item {
      img {
        width: 430px;
        height: auto;
      }

    }

  }
  .content.children {
    .section {
      padding-top: 50px;
      .wrapper {
        &:before,&:after {
          display: none;
        }
      }
    }
  }
  .product .children-slider .owl-nav div {
    top: 230px;
  }
  .product .children-slider.single .item .grid.icon {
    margin: 0 50px;
    width: auto;
    &:before,&:after {
      display: none;
    }
  }
  .section.white {
    ._txt-center {
      text-align: left !important;
    }
    .p-color.big {
      font-size: 26px;
      line-height: 32px;
    }
    .grid-box {
      border: 0;
      padding: 0;
      margin: 0;
      .col {
        width: 100%;
        float: none;
        margin-left: 0;
      }
    }
    .small {
      font-size: 26px;
      line-height: 32px;
      .col {
        width: 100%;
        float: none;
        margin-left: 0;
      }
    }
    ol {
      margin-bottom: 30px;
    }
  }
  .section.orange .res-list div {
    display: block;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    background: none !important;
    font-size: 26px;
    line-height: 32px;
    border-bottom: 1px solid #ffffff;
  }

  .product.card {
    .constructor-img {
      margin-bottom: 50px;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }

  .tab-content > .tab-pane {
    opacity: 1 !important;
    visibility: visible !important;
    height: auto !important;
    .title-set {
      display: block;
    }
  }
  .nav-tabs {
    display: none;
  }

  [data-constructor-slider].owl-carousel {
     .owl-controls .owl-nav div {
       top: 100px;

    }
  }
  .constructor-list {
    margin-top: 0;
    .section {
      padding: 0;
      .btn-group {
        float: left;
        position: relative;
        margin-left: 10px;
        &:before {
          content: 'x';
          position: absolute;
          line-height: 56px;
          font-size: 32px;
          font-weight: bold;
          left: 0;
          top: 0;
        }
        .btn-number {
          display: none;
        }
        .input-number {
          width: 60px;
          float: left;
          border-color: transparent !important;
          font-weight: bold;
        }
      }
      .row {
        margin: 0 !important;
        .col.col_2 {
          margin-left: 6%;
          float: left;
          width: 47%;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      p {
        font: 24px/24px "CirceBold",sans-serif;
        text-transform: uppercase;
      }
      .collapse-icon,._ic {
        display: none;
      }
      h1 {
        text-transform: uppercase;
        text-align: center;
        font: 35px/40px "Dirty Headline Cyrillic",sans-serif;
      }
      .rub {
        font-size: 32px;
        line-height: 56px;
        float: left;
      }
      .close,.close-icon {
        width: 56px;
        height: 56px;
      }
      .close-icon:before {
        /*background-size: 20px;*/
      }
      .name {
        font-size: 26px;
        padding-top: 14px;
      }
      &.first {
        .btn-group {
          &:before {
            display: none;

          }
        }

        .input-number {
          display: none;
        }
      }
    }
  }
  .constructor-wr {
    .total {
      font: 36px/36px "CirceBold",sans-serif;
      text-align: center;
      padding-top: 50px;
    }
    .btn-group.row {
      margin: 0!important;
    }
    .set.for-mobile {
      display: block;
    }
    .apply {
      .btn.big {
        display: none;
      }
    }
    .col._p5 {
      .set.pizza {
        display: none;
      }
    }
    .title-slide {
      padding: 0 0 40px;
    }
  }

  .cabinet-row {
    .row {
      .col_2 {
        width: 100%;
        margin-left: 0;
        float: none;
      }
    }
  }

  .cabinet h2.small {
    font-size: 34px;
    line-height: 34px;
  }
  .cabinet h2 {
    margin-bottom: 30px;
  }
  .content-white {
    padding-top: 50px;
  }
  .activate-box p {
    font-size: 26px;
    line-height: 32px;
    margin: 30px 0 30px;
  }
  .activate .btn.orange {
    font-size: 24px;
    padding: 22px 5px 20px;
    line-height: 24px;
    width: 156px;
  }
  .modal.phone .modal-dialog .green {
    width: 124px;
  }
  .agreement-content {
    max-height: 400px;
    p {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .checkbox-right .right-input {
    display: inline-block;
    margin-top: 0;
  }
  .checkbox-right .right-input span {
    font-size: 26px;
  }
  .checkbox-right .right-input input {
    width: 100px;
  }
  .form-grid._3 {
    display: block;
    float: none;
    .form-row {
      display: block;
      .form-cell {
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 20px;
        min-width: 135px;
      }
    }
  }
  .form-grid._3 .form-row .form-cell input {
    width: 100px;
    margin-right: 40px;
  }
  .form-grid._3 .form-row .form-cell:nth-child(5) {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .input-data .hint._error {
    font-size: 18px;
  }
  .basket-map {
    margin-left: -30px;
    margin-right: -30px;
    width: auto;
  }
  .comment-area textarea {
    height: 130px;
  }
  .input-data .hint {
    font-size: 18px;
  }
  .order-list thead tr td {
    font: 14px/16px "CirceBold",sans-serif;
  }
  .order-list tbody tr td {
    font-size: 20px;
    line-height: 26px;
    border-bottom: 1px solid #c7c5c1;
  }
  .paginate.small a {
    font: 22px/22px 'Circe','Helvetica',Arial,sans-serif;
  }
  .cabinet-row .m-b20.input-data {
    margin-bottom: 40px !important;
  }
}

