$tc: #252525;
$min-width: 640px;
$hc: #e4b100;
$bgb: #8ea14e;
$bgh: #9eb847;
$bo: #df7e00;
$boh: #fa9411;
$bg: #fffcf3;
$br: #a2a2a2;
$tcg: #cbcbcb;
$font: 18px/22px 'Circe','Helvetica',Arial,sans-serif;
$bri: #b3b3b3;
$er: #ff0000;

$green: #59a540;
$orange: #e54c28;
$blue: #82b1ec;
//mixing

@mixin border-radius($radius) {
  -webkit-border-radius:  $radius;
  -moz-border-radius:     $radius;
  -ms-border-radius:      $radius;
  border-radius:          $radius;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow:  $shadow;
  -moz-box-shadow:     $shadow;
  -ms-box-shadow:      $shadow;
  box-shadow:          $shadow;
}
@mixin transition($transition...) {
  -webkit-transition:  $transition;
  -moz-transition:     $transition;
  -ms-transition:      $transition;
  transition:          $transition;
}
@mixin transform($transform...) {
  -webkit-transform:  $transform;
  -moz-transform:     $transform;
  -ms-transform:      $transform;
  transform:          $transform;
}
@mixin clear {
  content: '';
  display: table;
  clear: both;
}
@mixin center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@mixin placeholder {
  color: #cccccc;
  font: $font;
}