@font-face {
    font-family: 'soc-icon';
    src:  url('soc-icon.eot?bcccgr');
    src:  url('soc-icon.eot?bcccgr#iefix') format('embedded-opentype'),
    url('soc-icon.ttf?bcccgr') format('truetype'),
    url('soc-icon.woff?bcccgr') format('woff'),
    url('soc-icon.svg?bcccgr#soc-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="soc-icon-"], [class*=" soc-icon-"] {
    font-family: 'soc-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 33px;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    transition:         color 0.3s;
}
.soc-icon-s_1:before {
    content: "\e900";
}
.soc-icon-s_2:before {
    content: "\e901";
}
.soc-icon-s_3:before {
    content: "\e902";
}
.soc-icon-s_4:before {
    content: "\e903";
}
.soc-icon-s_5:before {
    content: "\e904";
}
.soc-icon-s_6:before {
    content: "\e905";
}
.soc-icon-s_7:before {
    content: "\e906";
}
.soc-icon-s_8:before {
    content: "\e907";
}
